{
  "extends": "react-static/.babelrc",
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "production": {
      "plugins": [
        ["emotion", {"sourceMap": false, "hoist": true, "autoLabel": true}]
      ]
    },
    "development": {
      "plugins": [
        ["emotion", {"sourceMap": true, "hoist": true, "autoLabel": true}]
      ]
    }
  }
}
